.app {
  // overflow: hidden !important;
  // min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // background-color: rgb(255, 198, 198);


  .main {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;

  }
}