@import 'react-round-carousel/src/index.css';

.test-page {
  background-color: aquamarine;
  overflow: hidden !important;

  // .wrapper {
  //   overflow: hidden;
  //   width: 500px;
  //   margin: 0 auto;
  // }
}

.carousel__container {
  // transform: translateZ(-3672px) !important;
}

.carousel__slide {
  border-radius: 3px;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);


  &:hover {
    cursor: pointer;
  }

  img {
    width: 100% !important;
    height: 100% !important;
    border-radius: 3px;
  }

}