.projects-page {
  overflow: hidden;
  // background-color: rgb(172, 214, 255) !important;
  position: relative;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;


  .projects-page__gallery {
    position: absolute;
    top: 35%;
    transform: translate(0, -35%);
    perspective: 1800px !important;
  }


  .projects-page__project-photo {
    width: 400px;
    height: 250px;
    margin-bottom: 100px;
    z-index: 10;

    img {
      width: 100%;
      height: 100%;
    }
  }

}


@media (max-width: 992px) {
  .projects-page__project-photo {
    width: 350px !important;
    height: 200px !important;
  }
}